@import "app/libs/fonts/addFonts"






*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
body
    width: 100%
    overflow: hidden
    overflow-y: scroll
    font-size: 14px
    background-color: white
    color: black
    height: auto
    font-family: MagistralC
.left
    overflow: hidden
    float: left
.right
    overflow: hidden
    float: right
section
    overflow: hidden
    width: 100%
    height: auto
    position: relative
h3
    font-size: 300%
    font-family: Magistral Bold
    font-weight: bold
    text-transform: uppercase
    padding-left: 15px   
    color: #243137
h3:before
    content: " "
    width: 69px
    height: 57px
    background-size: contain
    background-repeat: no-repeat
    background-position: left
    display: block
    float: left
    margin-right: 15px
.row
    overflow: hidden
    width: 100%
    text-align: left
    position: relative



.navbar-default
    background-image: none
    background: #C3C1C0
    color: #606060
    margin-bottom: 0px
    border: none
    border-radius: 0px
.navbar-default .navbar-nav>li>a
    color: #606060
    font-family: Magistral Bold
    text-transform: uppercase
    padding: 19px 19px
.navbar-default .navbar-collapse
    width: 75%
    float: left
    text-align: left
    padding: 0px
.navbar-default .navbar-nav>li>a:after
    content: "|"
    width: 1px
    height: 14px
    display: block
    float: right
    position: relative
    left: 19px

.navbar-default .navbar-nav>li:nth-child(6)>a:after
    display: none
.header-social-container
    width: 25%
    float: left
    padding: 15px
    text-align: right
.header-social-container a
    background-color: #243137
    border-radius: 50%
    display: inline-block
    color: white
    padding: 5px
    width: 30px
    height: 30px
    text-align: center
    margin: 0px 5px
@media (min-width: 768px)
    .about .container .row
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        height: 100%
.about-right-list li:before
    width: 14px
    height: 14px
    display: block
    float: left
    padding-right: 5px
    content: " "
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    position: absolute
    left: -30px
    border-radius: 50%
    border: 1px solid white
    background-color: #206051
.about-right-list li
    position: relative
    margin: 19px auto
.about .about-info-container p
    padding: 10px 40px
    color: white
    font-size: 150%
    font-weight: bold
    line-height: 1
    text-align: left
.about-right-list
    list-style-type: none
    position: relative
    text-align: left
    color: white
.about-right-list:before
    content: " "
    display: block
    height: calc(100% - 19px)
    width: 1px
    background-color: white
    left: 17px
    top: 10px
    position: absolute
.about h3:before
    background-image: url(../img/section-title-img-1.png)
.about img
    width: 100%
    display: block
    margin-top: 8%
.about .container
    background-color: #206051
.about .container .row .col-md-6:first-child
    background-color: white




.services h3:before
    background-image: url(../img/section-title-img-2.png)
    position: relative
    top: -15px
.services
    padding-top: 8%
    padding-bottom: 9%
.services img
    width: 90%
.services h4
    text-align: center
    border-bottom: 1px solid rgb(96, 96, 96)
    padding-bottom: 0px
    display: block
    width: 91%
    margin: 10px auto
.services h4:after
    width: 1px
    height: 15px
    background-color: rgb(96, 96, 96)
    display: block
    content: " "
    position: relative
    top: 15px
    left: 50%
.services .col-md-3
    padding-top: 10%
.services h4
    color: #606060
    line-height: 1.4
    text-transform: uppercase
.services a    
    text-decoration: none
    transition: 0.8s
    border: 1px solid white
    overflow: hidden
    display: block
    padding-bottom: 8%
.services a:hover
    border: 1px solid lightgray
    box-shadow: 0px 0px 10px lightgray
    transition: 0.8s 




.reviews h3:before
    background-image: url(../img/section-title-img-3.png)
.reviews img
    width: 95px
    float: left
    display: block
    position: relative
    z-index: 3
    text-align: center
.reviews img:before
    content: " "
    width: 95px
    height: 95px
    border-radius: 50%
    background-color: red
    position: absolute
.reviews
    background-image: url(../img/reviews-container-background.png)
    background-position: left
    background-size: cover
    background-repeat: no-repeat
    min-height: 100vh
    padding-bottom: 1%
.reviews h3
    color: white
    margin-top: 5%
.reviews-item-block
    padding: 18px
    background-color: #206051
    color: white
    min-height: 175px
    margin-top: 14%
    border-radius: 15px
    position: relative
    z-index: 999
    margin-bottom: 5%
.reviews-item-block h4
    padding-left: 15px
    display: inline-block
    color: #C3C1C0
    position: relative 
    padding-bottom: 5px
.reviews-item-block h4:after
    content: " "
    display: block
    width: 150%
    height: 1px
    background-color: #C3C1C0
    position: absolute
    right: 0px
    z-index: 1
    bottom: -3px
.reviews-item-block p
    padding-left: 111px
    text-align: left
    font-size: 85%
    padding-right: 5%
    line-height: 1.15
.reviews-container-number-1 .reviews-item-block
    border-top-left-radius: 89px
.reviews-container-number-2 .reviews-item-block
    border-top-right-radius: 89px
.reviews-container-number-3 .reviews-item-block
    border-bottom-left-radius: 89px
.reviews-container-number-4 .reviews-item-block
    border-bottom-right-radius: 89px
.reviews-container-number-1:before
    content: " "
    display: block
    width: 79%
    height: 65%
    position: absolute
    left: 20.9%
    top: 29%
    border-radius: 15px
    background-color: transparent
    z-index: 1
    border-bottom-right-radius: 89px
    border: 1.5px solid #206051
.reviews-container-number-2:before
    content: " "
    display: block
    width: 97.5%
    height: 68%
    position: absolute
    left: 15px
    top: 21.95%
    border-radius: 15px
    background-color: transparent
    z-index: 1
    border-top-right-radius: 89px
    border: 1.5px solid #206051
.reviews-container-number-3:before
    content: " "
    display: block
    width: 93.5%
    height: 63%
    position: absolute
    left: 0.5px
    top: 34%
    border-radius: 15px
    background-color: transparent
    z-index: 1
    border-bottom-left-radius: 89px
    border: 1.5px solid #206051
.reviews-container-number-4:before
    content: " "
    display: block
    width: 97.5%
    height: 61.5%
    position: absolute
    left: 15px
    top: 21.95%
    border-radius: 15px
    background-color: transparent
    z-index: 1
    border-bottom-left-radius: 89px
    border: 1.5px solid #206051

    
    
    
    
footer h3:before    
    background-image: url(../img/section-title-img-4.png)
    position: relative
    top: -10px
footer
    background: url(../img/footer-right-col-background.png)
    background-size: contain
    background-position: right
    background-repeat: no-repeat
.footer-info
    background-color: #206051
    width: 95%
    height: 450px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    padding-left: 15%
footer h3
    margin: 4% 0px
footer .col-md-6
    padding: 0px
    padding-bottom: 4%
.footer-contacts > div
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    margin-bottom: 18px
    color: white
.footer-contacts > div p
    padding-left: 19px
    margin: 0px
.footer-social-container
    width: 95%
    float: left
    padding: 15px
    text-align: center
    position: relative
    top: -75px
.footer-social-container a
    background-color: #243137
    border-radius: 50%
    display: inline-block
    color: white
    padding: 5px
    width: 30px
    height: 30px
    text-align: center
    margin: 0px 5px















.velvet-about
    background-image: url(../img/strat-background-image.png)
    background-size: contain
    background-position: left
    background-repeat: no-repeat

    background-color: #C3C1C0
.velvet-about-list
    list-style-type: none
    padding-left: 0px
    position: relative
    left: 5%
    margin-top: 18%
    padding-bottom: 19%
.velvet-about-list li
    padding: 7px 0px
    border-radius: 15px
    border: 1px solid white
    padding-right: 5px
    margin-bottom: 19px
    transition: 0.7s
.velvet-about-list li:hover
    background-color: white
    text-align: left
    font-weight: bold

.velvet-about .row
    overflow: visible
.velvet-about-list li img
    position: relative
    left: -15px
.velvet-about-list a
    color: white
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
.velvet-about-list li:hover a
    color: #CD076D

.velvet-resnic h3
    background-color: #CD076D
    color: white
    font-size: 150%
    line-height: 1.5
    padding: 25px 19px
    border-top-right-radius: 9px
    border-bottom-right-radius: 9px
    display: inline-block
    width: 91%
.velvet-resnic .col-md-3
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0px
.velvet-resnic
    background-image: url(../img/eyes-background-image.png)
    background-size: cover
    background-position: center top
    background-repeat: no-repeat
    height: 100vh
.velvet-resnic h3:before
    display: none
.velvet-resnic-list
    list-style-type: none
.velvet-resnic-list li
    padding: 7px 19px
    border-radius: 15px
    border: 1px solid #CD076D
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    padding-right: 15%
    margin-bottom: 9%
    position: relative
    width: 90%
.velvet-resnic-list li:before
    content: " "
    width: 25px
    height: 25px
    background-image: url(../img/eyes-block-list-type.png)
    background-size: contain
    background-position: center top     
    background-repeat: no-repeat
    position: absolute
    left: -15px
.velvet-resnic .container-fluid, .velvet-resnic .row, .velvet-resnic .col-md-3
    height: 100%



.velvet-plus h3:before
    background-image: url(../img/plus-main-header-before.png)
    position: relative
    top: -9px
.velvet-plus-image img
    width: 100%
.velvet-plus:after
    content: " "
    display: block
    width: 100%
    height: 100%
    top: 0px
    left: calc(50% - 31px) 
    position: absolute
    background-color: #CD076D
    z-index: 9
.velvet-plus-list li
    padding: 7px 19px
    border-radius: 15px
    border: 2.5px solid #CD076D
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    padding-right: 15%
    margin-bottom: 15px
    position: relative
    z-index: 17
    color: white
.velvet-plus-list
    list-style-type: none
.velvet-plus-list img
    width: 10.9%
    min-width: 40px
    max-width: 300px
    margin-right: 15px
.velvet-plus .container 
    padding-top: 5%  
    padding-bottom: 8%





 
    
    
.velvet-steps h3:before
    background-image: url(../img/levels-main-header-before.png)
    position: relative
    top: -9px    
.velvet-steps h3
    font-size: 150% 
    margin: 9% 0px
.velvet-steps img
    height: 50%
    margin-top: 50%
    display: block
.velvet-steps .col-md-3
    height: 65vh
.velvet-steps .row .col-md-3:first-child img
    margin-top: 0px
.velvet-steps .row .col-md-3:nth-child(3) img
    margin-top: 0px      
.velvet-steps .col-md-3:hover:before
    display: block
    width: 100%
    height: 100%
    color: white
    background: #c3c1c0
    transition: 0.7s
    padding: 15px
.velvet-steps .col-md-3:nth-child(1):hover:before
    content: "Происходит визуальное преображение: реснички фиксируют изгиб, визуально удлиняются, закрепляют цвет, блеск и объем."
.velvet-steps .col-md-3:nth-child(2):hover:before
    content: "Это волшебный состав - grow activator. Активируются спящие луковицы, восстанавливаются и стимулируются волосяные фолликулы."
.velvet-steps .col-md-3:nth-child(3):hover:before
    content: "Молекулярная эссенция (VELVET essence) покрывает каждый волосок аминокератиновым комплексом и запечатывает его внутри"
.velvet-steps .col-md-3:nth-child(4):hover:before
    content: "Домашний уход (Home oil cocktail), в процессе которого эффект от процедуры усиливается!"
 
    
    
    
    
    
    
    
    
.velvet-complects h3:before
    background-image: url(../img/complects-main-header-before.png) 
    position: relative
    top: 10px
    display: inline-block
    float: none
    color: white 
.velvet-complects h3
    text-align: center
    color: white
    text-transform: none
.velvet-complects
    background-color: #CD076D
    min-height: 100vh
.velvet-complects img
    width: 100%
.velvet-complects p
    text-align: center
    color: #CD076D
    font-family: Magistral Bold
    display: inline-block
    padding: 15px 45px
    border-radius: 19px
    background-color: #E5E4E3
    font-size: 150%
.velvet-complects .col-md-6
    text-align: center
    
   
   



.velvet-botox h3:before
    background-image: url(../img/botox-main-header-before.png)
    position: relative
    top: -9px
.velvet-botox h3
    font-size: 150%
    margin-top: 37px
.velvet-botox-suptitle
    color: #606060
    padding: 9px 25px
    border-left: 1px solid #606060
    margin: 18px 0px
.velvet-botox-suptitle p
    margin: 0px    
.velvet-botox-subtitle
    padding: 9px 25px
    background-color: #C3C1C0
    text-align: left
    width: 100%
    border-top-left-radius: 15px
    border-bottom-left-radius: 15px
    position: relative
    margin-left: 25px
    padding-right: 30%
    margin-bottom: 8%
.velvet-botox-subtitle:after
    content: " "
    height: 100%
    width: 500%
    background-color: red
    top: 0px
    left: 100%
    z-index: 9999
.velvet-botox .container-fluid, .velvet-botox .row, .velvet-botox .col-md-8, .velvet-botox-subtitle p
    padding: 0px
    margin: 0px
    z-index: 0
.velvet-botox-question p
    padding: 19px 35px
    border: 1px solid #C3C1C0
    border-radius: 15px
.velvet-botox-question:before
    content: " "
    display: block
    width: 50px
    height: 50px
    background-image: url(../img/botox-block-list-type.png)
    background-size: contain
    background-position: top center
    background-repeat: no-repeat
    position: relative
    right: -25px
.velvet-botox-question
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    color: #CD076D
    font-family: Magistral Bold
.velvet-botox-image img
    width: 50%
    display: block
    margin: 4.9% auto
.velvet-botox
    padding-top: 4%
.velvet-modal-block > .modal
    background-color: #CD076D
.velvet-botox a
    color: #CD076D



.velvet-hnas h3:before
    background-image: url(../img/hnas-main-header-before.png)
    position: relative
    top: 5px
.velvet-hnas h3 span
    font-family: MagistralC
    font-weight: 300
    text-align: left
.velvet-hnas h3
    font-size: 150%
    line-height: 1.34
.velvet-hnas img
    height: calc(90vh - 75px)
    display: block
    float: right
.velvet-hnas-right div
    background-image: url(../img/hna-right-col-backgrounds.png)
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    width: 100%
    height: 75vh
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
.velvet-hnas-right
    background-color: #CD076D
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
.velvet-hnas, .velvet-hnas .container-fluid, .velvet-hnas .row
    padding: 0px
    margin: 0%
.velvet-hnas
    min-height: 100vh
    padding: 3% 0px
    margin: 0
    padding-bottom: 0px
.velvet-hnas h4
    color: #CD076D
    text-align: center
    position: relative
    left: -4%
    top: 7%
    line-height: 1
.velvet-hnas h4 span
    font-family: Magistral Bold
    font-size: 135%
    padding-bottom: 19px
    line-height: 1
    display: inline-block
.velvet-hnas a
    position: relative
    left: -4%
    top: 10.5%
    display: inline-block
    color: white
    text-transform: uppercase
    padding: 15px 8px
    border-radius: 15px
    background-color: #CD076D
    width: 209px
    margin: 0px auto


    
.velvet-emb1
    background-image: url(../img/education-blocks-first.png)
    background-size: cover
    background-position: top right
    background-repeat: no-repeat
    padding: 14% 1.7%
.velvet-emb1 h3:before
    background-image: url(../img/emb1-main-header-before.png)
    position: relative
    top: -9px    
.velvet-emb1 h5
    margin-top: 15%
    background-color: #CD076D
    padding: 18px
    border-radius: 5px
    display: block
    color: white
    font-family: Magistral Bold
    text-transform: uppercase
    width: 315px
    text-align: center
    line-height: 1.5
    font-size: 124%
    position: relative
.velvet-emb1 .col-md-6
    text-align: left
.velvet-emb1 h5:before
    content: " "
    display: block
    width: 4px
    height: 211.1px
    background-color: #CD076D
    position: absolute
    left: 0px
    top: 5px
.velvet-emb1 ul li:before
    content: " "
    display: block
    float: left
    width: 50px
    height: 15px
    background-image: url(../img/emb1-list-type-image.png)
    background-size: contain
    background-repeat: no-repeat
    background-position: top center
    margin-right: 15px
.velvet-emb1 ul
    padding-left: 0px
    list-style-type: none
    text-align: left
.velvet-emb1 ul li
    margin-top: 15px






.velvet-certificates
    background-color: #CD076D
    padding: 10% 0px
.velvet-certificates img
    width: 75%
    border-radius: 34px
    margin: 10% auto
    display: block
    position: relative
.velvet-certificates h3:before
    background-image: url(../img/certificates-main-header-before.png)
    position: relative
    top: -9px
.certificates-block-image-1:before
    content: " "
    display: block
    width: 75%
    height: 83%
    border: 1.5px solid lightgray
    border-radius: 35px
    position: absolute
    left: 14px
    top: 9px
    transform: rotate(5deg)
.velvet-certificates h3
    margin-bottom: 45px
    color: white
.certificates-block-image-2:before
    content: " "
    display: block
    width: 71.9%
    height: 83%
    border: 1.5px solid #C3C1C0 
    border-radius: 35px
    position: absolute
    right: 9%
    top: 47.9px
    transform: rotate(5deg)
.velvet-certificates .col-md-4
    text-align: center
.certificates-block-image-3:before
    content: " "
    display: block
    width: 75%
    height: 83%
    border: 1.5px solid lightgray
    border-radius: 35px
    position: absolute
    right: 10%
    top: 15px
    transform: rotate(-7deg)







.velvet-emb2 h3:before
    background-image: url(../img/emb2-main-header-before.png)
    position: relative
    top: -9px
.velvet-emb2 img
    width: 75%
.velvet-emb2-right-lists li
    padding: 7px 19px
    border-radius: 10px
    border: 1.5px solid #C3C1C0
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    padding-right: 5%
    margin-bottom: 4%
    position: relative
.velvet-emb2-right-lists li:before
    content: " "
    width: 35px
    height: 35px
    background-image: url(../img/botox-block-list-type.png)
    background-size: contain
    background-position: center top     
    background-repeat: no-repeat
    position: absolute
    left: -15px
.velvet-emb2-right-lists
    padding-right: 15%
    margin-top: 19px
    text-align: left
.velvet-emb2
    padding: 10% 0px



.velvet-emb3 h3:before
    background-image: url(../img/emb3-main-header-before.png)
    position: relative
    top: -8px
.velvet-emb3-left-list
    background-color: #606060
    color: white
    border-radius: 15px
    padding: 25px
    margin-top: 15%
    text-align: center
    padding-top: 0px
.velvet-emb3-left-list li
    margin-bottom: 15px
    text-align: left
    padding-right: 15px
.velvet-emb3 h4
    display: inline-block
    background-color: #CD076D
    padding: 9px
    border-radius: 8px
    margin: 0px
    position: relative
    top: -24px
.velvet-emb3
    background-image: url(../img/emb3-main-section-background.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: top
    padding-bottom: 10%
    padding-top: 5%


.hnasf .content
    padding: 0px

.dmk-start
    padding: 15% 0px
    background-image: url(../img/dmk-start-section-background.png)
    background-position: top right
    background-size: cover
    background-repeat: no-repeat
.dmk-start-left-column-list
    margin-top: 5%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
.dmk-start-left-column-list a
    display: flex
    width: 45%
    border-radius: 15px
    border: 1px solid transparent
    padding: 9px
    flex-direction: row
    justify-content: flex-start
    align-items: center
    text-align: left
    padding-left: 0px
    margin-top: 3%
    transition: 0.7s
    color: black
    font-family: Magistral Bold
    text-decoration: none
.dmk-start-left-column-list a:hover
    border: 1px solid #206051
.dmk-start-left-column-list a:before
    content: " "
    display: block
    width: 25px
    height: 30px
    position: relative
    float: left
    left: -14px
    background-image: url(../img/dmk-start-lists-type-images.png)
    background-position: top left
    background-size: contain
    background-repeat: no-repeat
.dmk-start h3
    font-size: 185%
    position: relative
    left: -19px
.dmk-start h3:before
    display: none




.dmk-change-left-col-blocks
    background-image: url(../img/dmk-change-left-column-background.png)
    background-position: top left
    background-size: cover
    background-repeat: no-repeat
.dmk-change
    background-color: #206051
.dmk-change .col-md-6
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    height: 100vh
    padding-left: 15%
    padding-right: 4%
    color: white
.dmk-change h4
    font-size: 275%
    font-family: Magistral Bold
    position: relative
    padding-bottom: 35px
    margin-bottom: 34px
.dmk-change h4:after
    content: " "
    display: block
    position: absolute
    bottom: 0px
    left: 0px
    width: 300%
    height: 1px
    background-color: white
.dmk-change .row
    overflow: visible





.dmk-services h3:before
    background-image: url(../img/dmk-services-main-header-before.png)
    position: relative
    top: -3px
.dmk-services img
    width: 85%
.dmk-services-right-column-lists
    list-style-type: none
    position: relative
    padding-left: 0px
.dmk-services-right-column-lists li
    margin-bottom: 15px
    font-family: Magistral Bold
    text-align: left
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
.dmk-services-right-column-lists li:before
    content: " "
    display: block
    width: 19px
    height: 19px
    background-image: url(../img/dmk-services-list-styles-type-image.png)
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    margin-right: 15px
.dmk-services-right-column-lists:before
    content: " "
    display: block
    position: absolute
    top: 5px
    left: 9.5px
    width: 1px
    background-color: #206051
    height: 254px
    z-index: -9
.dmk-services .col-md-6
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    height: 100vh
.dmk-services h3
    left: -19%
    position: relative
    top: 0px
.dmk-services .row
    overflow: visible
    
    
    
    
    
.dmk-how-buy-this h3:before
    background-image: url(../img/dmk-buy-main-header-before.png)
    position: relative
    top: -3px
    margin-right: 0px
.dmk-how-buy-this
    background: url(../img/dmk-howtobuy-section-background.png)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    padding: 10% 0px
.dmk-how-buy-this p
    margin-top: 15px
    padding-right: 35%
    padding-left: 35px
.dmk-how-buy-this h3
    margin-bottom: 30px




.dmk-benefits
    background: url(../img/dmk-benefits-section-background.png)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    padding: 4% 0px
.dmk-benefits img
    width: 95%
    float: right
.dmk-benefits h3:before
    background-image: url(../img/dmk-benefit-main-header-before.png)
    position: relative
    top: -3px




.dmk-ceos h3:before
    background-image: url(../img/dmk-ceo-main-header-before.png)
    position: relative
    top: -3px
.dmk-ceos
    background-color: #206051
    padding: 10% 0px
.dmk-ceos h3
    color: white
.dmk-ceos p
    margin-top: 45px
    padding-left: 95px
    color: white
.dmk-ceos img
    width: 100%






.massage-starting-block
    font-family: SolidoPro-Book
    h3
        display: inline-block
        background-color: #206051
        color: white
        line-height: 1.35
        padding: 25px
        border-radius: 25px
        position: relative
        left: -5%
        font-family: SolidoPro-Bold
        text-transform: none
    .col-md-7
        background-image: url(../img/massage-first-block-background.png)
        background-size: contain
        background-position: left top
        background-repeat: no-repeat
        height: 100vh
    .col-md-5
        margin-top: 19%
        position: relative
        padding-bottom: 30px
    .col-md-5:after
        content: " "
        display: block
        float: left
        position: absolute
        bottom: 0px
        left: 14px
        background-color: lightgray
        width: 95px
        height: 8px

.massage-block-2
    background-image: url(../img/massage-block-2-background.png)
    background-size: cover
    background-repeat: no-repeat
    color: white
    font-family: SolidoPro-Book
    .col-md-5, .col-md-7
        height: 100vh
        display: flex
        flex-direction: column
        justify-content: center
    .massage-block-2-right
        background-color: rgba(144,146,141,0.83)
        padding: 25px
        h3
            color: white
            font-family: SolidoPro-Bold
        li
            margin-bottom: 19px
            margin-left: 25px
            position: relative
        ul
            list-style-type: none
            margin-top: 15px
            margin-bottom: 19px
            text-align: left
            padding-left: 0px
        li:before
            content: " "
            background-color: white
            display: block
            float: left
            margin-right: 15px
            width: 10px
            height: 10px
            border-radius: 50%
            position: absolute
            left: -17px
            top: 5px
        h3:before
            width: 1px
    .massage-block-2-r-bottom 
        display: inline-block
        background-color: #606060
        color: white
        padding: 15px
        width: 45%
        overflow: hidden
        margin-left: 24px
        margin-bottom: 15px

.massage-block-3
    background-image: url(../img/massage-block-3-background.png)
    background-size: cover
    background-repeat: no-repeat
    color: #206051
    height: 100vh
    overflow: hidden
    font-family: SolidoPro-Book
    h3
        color: #206051
        padding-left: 0px
        position: relative
        padding-bottom: 15px
        font-family: SolidoPro-Bold
    .massage-block-3-point
        position: relative
        margin-top: 30px
        padding-right: 5%
        color: black 
    .massage-block-3-point:before
        content: ""
        background-color: #206051
        border-radius: 50%
        width: 15px
        height: 15px
        float: left
        display: block
        position: absolute
        top: 0px
        left: -19px
    .massage-block-3-bottom
        display: inline-block
        background-color: #206051
        color: white
        border-radius: 15px
        width: 70%
        padding: 10px
        margin-top: 60px
    h3:before
        display: none
    h3:after
        display: block
        content: " "
        background-color: #206051
        width: 75px
        height: 2.5px
        float: left
        position: absolute
        left: 0px
        bottom: 1px
    .container
        .row
            .col-md-6
                height: 100vh
                display: flex
                flex-direction: column
                justify-content: center

.masage-video-blocks
    background-image: url(../img/massage-video-block-background-image.png)
    background-size: cover
    background-position: left top
    background-repeat: no-repeat
    padding: 5% 0px
    video
        width: 75%
        display: block
        margin: 0px auto
        margin-bottom: 8%
    h3
        margin: 25px auto
        padding-bottom: 15px
        position: relative
        left: -7% 
        font-family: SolidoPro-Bold
        color: #606060
    h3:before
        display: none
    h3:after
        content: " "
        display: block
        width: 89px
        height: 2.5px
        background-color: #206051
        position: absolute
        left: 15px
        bottom: 0%




.massages-venoz-drenzh-faces
    background-color: #206051
    color: white
    padding: 7% 0px
    font-family: SolidoPro-Book
    h3
        color: white
        font-family: SolidoPro-Bold
    h3:before
        color: white
        height: 1px
        display: none
    .row
        overflow: visible
    .massages-venoz-drenzh-faces-infos
        position: relative
        display: inline-block
        padding: 14px
        background-color: #606060
        border-radius: 15px
        z-index: 3
        margin: 10px 0px
    .massages-venoz-drenzh-faces-infos:before
        width: 1500px
        content: " "
        height: 100%
        right: calc(100% - 8px)
        background-color: #606060
        position: absolute
        top: 0px
        z-index: 0
    ul
        list-style-type: none
        position: relative
        color: white
        li
            position: relative
            margin: 15px auto
            text-align: left
        li:before
            content: " "
            display: block
            width: 15px
            height: 15px
            background-image: url(../img/massage-venoz-left-style-type-image-background.png)
            background-position: center
            background-size: contain
            background-repeat: no-repeat
            position: absolute
            left: -29px
            top: 1.7px
    ul:before
        display: block
        content: " "
        background-color: white
        width: 1px
        height: 230px
        position: absolute
        left: 18px
        top: 5px
    img
        width: 100%
        margin: 15% auto
        padding-left: 4%
    a
        display: inline-block
        padding: 10px 19px
        text-transform: uppercase
        border: 1px solid #C3C1C0 
        color: #C3C1C0 
        margin-left: 15px
        border-radius: 9px
    










.masages-gemolimfodrenazh-section-grids
    background-image: url(../img/massage-gemolimfodrenazh-block-background-image.png)
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    color: white
    padding: 5% 0px
    font-family: SolidoPro-Book
    h3
        color: white
        padding-bottom: 15px
        position: relative
        text-align: left
        margin-bottom: 0px
        font-family: SolidoPro-Bold
    h3:before
        display: none
    h3:after
        content: " "
        width: 100%
        height: 1px
        background-color: rgba(255,255,255, 0.74)
        display: block
        position: absolute
        bottom: 0px
        left: 0px
    ul
        position: relative
        list-style-type: none
        color: white
        padding-top: 30px
    ul:before
        content: " "
        width: 1px
        height: 180.9px
        background-color: rgba(255,255,255, 0.7)
        display: block
        position: absolute
        top: 0px
        left: 0px
    li
        margin-bottom: 15px
        position: relative
        color: white
        text-align: left
        font-size: 125%
        line-height: 1
        margin-top: 15px
    li:before
        content: " "
        width: 30px
        height: 18px
        background-image: url(../img/massage-gemolimfodrenazh-block-list-type-style-backgrounds-img.png)
        display: block
        position: absolute
        top: 0px
        left: -40.1px
        background-position: center
        background-size: contain
        background-repeat: no-repeat
    .masages-gemolimfodrenazh-section-grids-bottom-info-block
        margin-top: 75px
    p
        margin-bottom: 25px
        line-height: 1.25
        text-align: left
        color: white
    



.masssage-orbiskylar-block-sections
    background-image: url(../img/massage-orbikylayr-blocks-backgrounds-images.png)
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    padding: 5% 0px
    font-family: SolidoPro-Book
    h3:before
        display: none
        padding: 0px
        margin-left: 0px
    h3
        padding-left: 0%
        text-align: left
        font-family: SolidoPro-Bold
        color: #206051
        padding-bottom: 15px
        margin-bottom: 15px
        position: relative
    h3:after
        display: block
        width: 1500px
        height: 1px
        background-color: #206051
        position: absolute
        content: " "
        bottom: 0px

    .col-md-8
        div
            background-image: url(../img/massage-orbikylayr-blocks-right-column-block-backgrounds.png)
            background-position: center
            background-size: contain
            background-repeat: no-repeat
            padding: 15% 29%
            *
                position: relative
                top: -15px
                left: -4%
    .container-fluid, .row, .col-md-8
        padding: 0px
        margin: 0px
        left: 0px
.glamour-starting
    background-color: #FF0008 
    img
        width: 100%
    .col-md-4
        padding: 0px
        background-image: url(../img/glamour-starting-left-block.png)
        background-size: cover
        background-repeat: no-repeat
        background-position: center
        
    .col-md-5
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 100vh
        img
            width: 143px
        p
            padding: 0px 15%
            margin-top: 45px
            color: white
    .row
        width: 100%
        div
            height: calc(100vh - 60px)
    .col-md-3
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-end
        padding-right: 0px
        div
            height: auto
            background-color: rgba(192,191,190, 0.64)
            padding: 25px
            border-top-left-radius: 25px
            border-bottom-left-radius: 25px
            width: 70%
            padding-right: 0px
            a
                color: white
                margin-bottom: 39px
                display: inline-block
                width: 100%
                border-bottom: 1px solid white
                padding-bottom: 3px
                font-weight: bold
    .container-fluid, .row
        margin: 0px
        padding: 0px

.glamour-section2
    background-color: #C0BFBE
    padding-bottom: 40px
    h3:before
        background-image: url(../img/Glamour-section2-h3.png)
    h3
        padding: 5% 0px
    img
        //width: 75%
        height: 530px
        display: block
        float: right
        
    .col-md-6
        display: block    
    .section2-img
        //width: 100%
.glamour-section3
    .sem > div
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: flex-start
        padding: 15px
    h3:before
        background-image: url(../img/Glamour-section3-row1.png)
    h4
        width: 219px
        background-color: #C0BFBE
        display: inline-block
        border-radius: 7px
        text-align: center
        padding: 3px 15px
    p
        font-size: 11px
        padding-bottom: 25px
        position: relative
    .col-md-3:after, .col3:after, .col6:after
        content: " "
        display: block
        width: 90px
        height: 1px
        background-color: black
        position: absolute
        left: 0px
        bottom: 0px
    img
        width: 195px
        display: block
        margin: 0px auto
    .col3
        float: left
        width: 30%
        position: relative
        min-height: 265px
    .col6
        width: 40%
        float: left
        position: relative
        min-height: 265px
    .sem
        h4
            width: auto
    span
        font-size: 14px
        display: inline-block
        border-left: 1px black solid
        padding-lefT: 15px
        margin-left: 15px
    h3
        font-size: 250%
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
    .col-md-3
        min-height: 381px
    .row
        margin-top: 45px
.glamour-section4
    background-image: url(../img/glamour-education-main-baclground.png)
    background-size: cover
    background-position: top left
    background-repeat: no-repeat
    padding: 5% 0px
    h3:before
        background-image: url(../img/Glamour-section4-row1.png)
    h3
        padding: 5% 0px
    .img-section4
        width: 100%
    .p-section4
        padding-bottom: 80px
    .button-section4
        text-align: center
        border-radius: 10px
        width: 150px
        height: 32px
        margin-left: 150px
        margin-top: 20px
        background-color: rgba(192,191,190, 0.64)
    .glamour-education-mains-link
        display: inline-block
        color: white
        padding: 9px 18px
        text-align: center
        text-transform: uppercase
        background-color: #C0BFBE
        border-radius: 14px
    .col-md-6
        text-align: center
        p
            text-align: left
        
.glamour-section5
    background-color: #C0BFBE
    padding: 5% 0px
    h3:before
        background-image: url(../img/Glamour-section5-row1.gif)
    h3
        font-weight: 400
        font-family: MagistralC
        font-size: 209%
        text-transform: none
        span
            color: #ffffff
            font-weight: bold
            font-family: Magistral Bold
            text-transform: uppercase
    img
        width: 100%
        height: auto
    h4
        width: 150px
        display: inline-block
        border: 1px solid red
        border-radius: 15px
        border-color: red
        text-align: center
        padding: 3px 15px
        color: red
        margin-left: 103px
        font-family: Magistral Bold
        margin-top: 45px 
    .col-md-6
        p
            margin-left: 94px
            margin-top: 15px
            img
                width: 27.5px
                height: auto
                margin-right: 5px
            strong
                font-family: Magistral Bold
        .p-col6-section5
            text-align: center
            font-weight: bold
.glamour-section6
    position: relative
    padding: 5% 0px
    text-align: left
    font-size: 100%
    h3:before
        background-image: url(../img/Glamour-section6-img1.png)  
    h3
        font-family: MagistralC
        font-size: 250%
        text-transform: none
        position: relative 
        padding-bottom: 30px
        margin: 30px 0px
        span
            font-family: Magistral Bold
            text-transform: uppercase 
    h3:after  
        content: " "
        display: block
        width: 1500px
        height: 2px
        background-color: #C0BFBE
        right: calc(100% - 527px)
        bottom: 0px
        position: absolute
    .content-while
        text-align: center
        p
            text-align: left
    .content-red
        background-color: red
        img
            width: 100%
            height: auto
    .row
        overflow: visible
    .container-fluid
        padding: 0px
        margin: 0px
    .col-md-6
        padding: 0px
    h4
        display: inline-block
        border: 1px solid red
        border-radius: 15px
        border-color: red
        text-align: center
        padding: 8px 19px
        color: red
        margin-left: 31px
        font-family: Magistral Bold
        float: left
        margin-right: 70%
        strong
            text-align: left
    .p-col6-section6
            text-align: center!important
            background-color: #C0BFBE
            display: inline-block
            border-radius: 15px
            padding: 8px 9px
            font-weight: bold
.glamour-section6:after
    content: " "
    width: 100%
    height: 100%
    position: absolute
    top: 0px
    left: calc(50% - 15px)
    background-color: #FF0008
    z-index: -1
.glamour-gray-education
    background-color: #2C343A
    color: white
    h3
        color: white
    h3:before
        background-image: url(../img/glamour-gray-education-header-before.png)
    .glamour-gray-education-left-inner
        background-image: url(../img/glamour-gray-education-left-column.png)
        background-size: cover
        background-position: top center
        background-repeat: no-repeat
        min-height: 634px        
        padding-right: 29%
        padding-left: 15%
        p
            color: black
            font-size: 12.5px
        h4
            padding-top: 41%
            color: #FF0008
            padding-bottom: 3%
            position: relative
            font-family: Magistral Bold
            display: inline-block
        h4:after
            content: " "
            display: block
            width: 1500px
            right: 0
            bottom: 0% 
            height: 1px
            background-color:  #FF0008
            position: absolute
    img
        width: 100%
        display: block
        height: auto
        margin-top: 150px
    .row
        padding: 5% 0px
        overflow: visible
.glamour-after-course
    background-image: url(../img/glamour-after-courses-background.png)
    background-size: cover
    background-position: top left
    background-repeat: no-repeat
    padding: 9% 0px
    h3
        font-size: 135%
        color: #FF0008
        padding-left: 9%
        line-height: 1.5
        padding-right: 25%
    h3:before
        display: none
    ul
        list-style-type: none
        li
            margin: 15px
            position: relative
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: center
        li:before
            content: " "
            width: 34px
            position: relative
            display: block
            float: left
            height: 34px
            background-image: url(../img/glamour-after-courses-lists.png)
            background-size: contain
            background-position: center
            background-repeat: no-repeat
            position: absolute
            left: -39px
    .col-md-7
        padding-left: 9%
.glamour-courses-format
    background-color: #C0BFBE
    padding: 5% 0px
    text-align: left
    h3:before
        background-image: url(../img/glamour-course-format-header-before.png)
        margin-bottom: 35px
        overflow: hidden
    h3
        font-family: MagistralC
        font-size: 185%
        span
            font-family: Magistral Bold
    h4
        color: white
        padding-left: 31px
        margin-top: 40px
        padding-bottom: 9px
        margin-bottom: 8px
        position: relative
        display: inline-block
        font-size: 170%
    h4:before
        display: block
        width: 100%
        position: absolute
        height: 1px
        background-color: #FF0008
        bottom: 0px
        content: " "
        right: 0px
    h4:after
        display: block
        height: 554px
        position: absolute
        width: 1px
        background-color: #FF0008
        top: 34px
        content: " "
        left: 0px
    p
        padding-left: 30px
    ul
        list-style-type: none
        li
            position: relative
            margin-top: 15px
            text-align: left
            display: flex
            flex-direction: row
            justify-content: flex-start
            padding-left: 15px
        li:before
            content: " "
            display: block
            width: 45px
            height: 19px
            background-image: url(../img/glamour-courses-format-lists-image.png)
            background-position: center left
            background-size: contain
            background-repeat: no-repeat
            position: absolute
            left: -41.5px         
    img
        width: 100%
        display: block
        text-align: center
        margin-top: 25%
.glamour-master-classes
    background-image: url(../img/glamour-master-classes-image-background.png)
    background-position: top right
    background-repeat: no-repeat
    background-size: cover
    padding: 5% 0px
    .col-md-7
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
    .glamour-masters-classes-item
        width: 100%
        border: 1.5px solid #FF0008
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin-top: 34px
        overflow: hidden
        border-radius: 15px
    .glamour-masters-classes-item:before
        background-image: url(../img/glamour-master-clasess-lists.png)
        background-position: center
        background-repeat: no-repeat
        background-size: contain
        display: block
        position: absolute
        width: 45px
        height: 45px
        left: -14px
        content: " "
        z-index: 99999
    h2
        font-size: 185%
        margin: 0px
        font-family: Magistral Bold
    .glamour-master-classes-headers
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        overflow: hidden
        padding-left: 19px
    .glamour-master-clsses-descriptions
        background-color: #DDDDDD
        padding: 19px
        width: 45%
        overflow: hidden
    p
        margin: 0px
    .row
        overflow: visible
.glamour-resnic-reconstructions
    background-color: #C0BFBE
    text-align: left
    padding: 5% 0px
    h3:before
        background-image: url(../img/glamour-resnic-reconstruction-header-before.png)
    h3
        font-size: 185%
        text-align: left
        font-family: MagistralC
        margin-bottom: 45px
        span
            font-family: Magistral Bold
    img
        width: 100%
    li>img
        width: 25px
        position: absolute
        display: block
        left: 0px
    ul
        list-style-type: none
        font-size: 100%
        margin-top: calc(123px + 10.9% )
        li
            display: flex
            flex-direction: row
            justify-content: flex-start

            position: relative
            margin-top: 38px
            padding-left: 45px
.glamour-sertificate-trainers
    padding: 5% 0
    h3:before
        background-image: url(../img/glamour-masters-header-before.png)
        text-align: center
        position: absolute
        left: -45px
    h3
        display: flex
        flex-direction: row
        justify-content: flex-start
        font-family: MagistralC
        margin-bottom: 49px

        span
            display: inline-block
            width: 135%
            text-align: left    
            b
                font-family: Magistral Bold
                
        p
            color: #FF0008
            font-size: 10.9px
            margin-top: 7px
            line-height: 1.5
    .row
        overflow: visible
    img
        width: 100%
        height: auto
        margin-top: 15%
        display: block
    ul
        list-style-type: none
        position: relative
        li
            margin-top: 15px
        li:before
            display: block
            position: absolute
            background-image: url(../img/glamour-masters-right-lists.png)        
            content: " "
            background-size: contain
            background-position: center
            bakground-repeat: repeat
            width: 19px
            height: 19px
            left: 5px
    ul:before
        content: " "
        display: block
        height: 591px
        width: 1px
        background-color: #C0BFBE
        left: 14px
        position: absolute
        top: 5px
.glamour-buys-benefits
    background-color: #2C343A
    padding: 5% 0px
    h3:before
        background-image: url(../img/glamour-buys-header-before-images.png) 
    h3
        color: #C0BFBE
        font-size: 195%
        text-transform: none
    .col-md-6 > img
        width: 100%
        margin-top: 15%
        display: block
    ul
        list-style-type: none
        li
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: center
            margin-top: 15px
            color: #C0BFBE
            img
                width: 45px
                display: block
                margin-right: 15px
        li:before
            content: " "
            display: block
            width: 1500px
            height: 1px
            background-color: #C0BFBE
            position: absolute
            right: calc(100% - 58px)
    .row
        overflow: visible           
.good-job
    width: 50%
    text-align: left
    margin: 0px auto 
    color: white
    a
        font-weight: bold
        color: white
        padding: 9px
        display: inline-block
        border: 1px solid white
        margin-top: 35px
        text-align: center

.modal
    margin: 0px           
@import "app/sass/media"




    