@import "app/libs/fonts/addFonts"






*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
body
    width: 100%
    overflow: hidden
    overflow-y: scroll
    font-size: 14px
    background-color: white
    color: $extra-grey-color
    height: auto
    font-family: Solomon Sans Normal
.left
    overflow: hidden
    float: left
.right
    overflow: hidden
    float: right
section
    overflow: hidden
    width: 100%
    height: auto
    position: relative
.container
    width: 100%
    overflow: hidden



@import "app/sass/media"